[package]
name = "nijsac-website-backend"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
tokio = { version = "1.47.1", features = ["full"] }
axum = { version = "0.8.5", features = ["json", "macros", "multipart"] }
axum-extra = { version = "0.10.2", features = ["cookie"] }
tower-http = { version = "0.6.6", features = ["trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
sqlx = { version = "0.8.6", default-features = false, features = ["json", "postgres", "runtime-tokio", "migrate", "macros", "time", "uuid", "tls-rustls-aws-lc-rs"] }
thiserror = "2.0.17"
validator = { version = "0.20.0", features = ["derive"] }
uuid = { version = "1.18.1", features = ["v7", "serde"] }
argon2 = "0.5.3"
dotenvy = "0.15.7"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.145"
serde_with = "3.14.1"
memory-serve = "1.0.0"
time = { version = "0.3.44", features = ["serde"] }
rand = "0.9.2"
strum_macros = "0.27.2"
object_store = "0.12.4"
bytes = "1.9.0"
mime = "0.3.17"
image = { version = "0.25.8", default-features = false, features = ["webp", "jpeg", "png"] }